body {
    font-family: Cantarell, Ubuntu, sans-serif;
    margin: 0;
    padding-left: 400px;    /* LC fullwidth */
    padding-right: 490px;   /* RC fullwidth + CC padding */
    min-width: 440px;       /* LC fullwidth + CC padding */
}

#header, #footer {
    margin-left: -400px;    /* LC fullwidth */
    margin-right: -390px;   /* RC fullwidth + CC padding */
}

.column {
    position: relative;
    float: left;
}

#center {
    padding: 60px 20px 0 20px;
    width: 100%;
    text-align: center;
}

#left {
    width: 380px;           /* LC width */
    padding: 60px 10px 0 10px;        /* LC padding */
    right: 440px;           /* LC fullwidth + CC padding */
    margin-left: -100%;
}

#right {
    width: 330px;           /* RC width */
    padding: 60px 10px 0 10px;        /* RC padding */
    margin-right: -100%;
}

#footer {
    clear: both;
}

.title {
    font-size: 30pt;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    position: relative;
}
