.center_form {
    text-align: center;
    width: 300px;
}

.center_submit {
    text-align: center;
    margin-top: 20px;
    width: 80px;
}

.instr {
    text-align: center;
    padding-bottom: 40px;
}

.container {
    position: relative;
    padding: 100px 400px 0 400px;
    height: 80%;
}

#preview {
    padding-top: 30px;
}
