{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/viewer.css">
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript">
var words = {{ words|tojson|safe }};
var boardL = {{ board|tojson|safe }};
var mults = {{ mults|tojson|safe }};
var LETTER_VALS = {{ lettervals|tojson|safe }};
var index = boardL.indexOf('q');
board = boardL.toUpperCase().split('');
if (index != -1) {
    board[index] = 'Qu';
}
var wordNum = 0; // index into words
var START = 25;
var END = 425;
var WIDTH = 100;

// draw grid and letters
function drawBg(ctx) {
    // grid
    ctx.strokeStyle = '#000';
    ctx.lineWidth = 4;
    ctx.lineCap = 'square';
    ctx.beginPath();
    for (var i = START; i <= END; i += WIDTH) {
        ctx.moveTo(START, i);
        ctx.lineTo(END, i);
        ctx.moveTo(i, START);
        ctx.lineTo(i, END);

    }
    ctx.stroke();
    ctx.closePath();

    // letters
    ctx.font = '40pt Cantarell';
    ctx.fillStyle = '#000';
    ctx.textAlign = 'center';
    ctx.textBaseline = 'middle';
    for (i = 0; i < 4; ++i) {
        for (var j = 0; j < 4; ++j) {
            ctx.fillText(board[4*i + j], WIDTH/2 + START +  + WIDTH*j, WIDTH/2 + START + WIDTH*i);
        }
    }

    // letter modifiers
    ctx.font = '12pt Cantarell';
    ctx.textAlign = 'left';
    ctx.textBaseline = 'top';
    for (i = 0; i < 4; ++i) {
        for (var j = 0; j < 4; ++j) {
            ctx.fillText(mults[4*i + j], 6 + START + WIDTH*j, 5 + START + WIDTH*i);
        }
    }

    // letter points
    ctx.textAlign = 'right';
    ctx.textBaseline = 'top';
    for (i = 0; i < 4; ++i) {
        for (var j = 0; j < 4; ++j) {
            ctx.fillText(LETTER_VALS[boardL[4*i + j]], WIDTH*(j + 1) - 4, 5 + START + WIDTH*i);
        }
    }

}

// draw one word and its path and score
function drawWord(ctx) {
    word = words[wordNum];
    path = word.path;
    // draw behind
    ctx.globalCompositeOperation = 'destination-over';
    // green starting square
    ctx.fillStyle = '#00FF00';
    ctx.fillRect(START + 2 + WIDTH * col(path[0]), START + 2 + WIDTH * row(path[0]), WIDTH - 4, WIDTH - 4);
    // red ending square
    ctx.fillStyle = '#FF0000';
    ctx.fillRect(START + 2 + WIDTH * col(path[path.length - 1]), START + 2 + WIDTH * row(path[path.length - 1]), WIDTH - 4, WIDTH - 4);
    // restore gCO
    ctx.globalCompositeOperation = 'source-over';

    // draw path
    ctx.lineCap = 'round';
    ctx.lineWidth = 8;
    ctx.beginPath();
    for (var i = 0; i < path.length - 1; ++i) {
        from = path[i];
        to = path[i + 1];
        ctx.moveTo(START + 2 + WIDTH/2 + WIDTH * col(from), START + 2 + WIDTH/2 + WIDTH * row(from));
        ctx.lineTo(START + 2 + WIDTH/2 + WIDTH * col(to), START + 2 + WIDTH/2 + WIDTH * row(to));
    }
    ctx.stroke();
    ctx.closePath();
    
    // draw word info
    ctx.font = '40pt Cantarell';
    ctx.textAlign = 'center';
    ctx.textBaseline = 'middle';
    ctx.fillStyle = '#000';
    ctx.fillText(word.word.toUpperCase() + ' ' + word.score, 225, 485);
    $('#wordNum').text(wordNum + 1);
}

function row(i) {
    return ~~(i / 4);
}

function col(i) {
    return i % 4;
}

function redraw(ctx) {
    ctx.clearRect(START - 2,START - 2, WIDTH*4 + 4,WIDTH*4 + 4);
    ctx.clearRect(0,450,450,560);
    drawBg(ctx);
    drawWord(ctx);
}


$(function() {
    var canvas = document.getElementById('viewer');
    var ctx = canvas.getContext('2d');

    // draw shadow
    ctx.shadowColor = '#000';
    ctx.shadowOffsetX = 0;
    ctx.shadowOffsetY = 0;
    ctx.shadowBlur = 15;
    ctx.lineWidth = 10;
    ctx.strokeRect(25,25,400,400);
    ctx.shadowColor = 'rgba(0,0,0,0)';
    ctx.shadowBlur = 0;

    redraw(ctx);

    $(document).keydown(function(e) {
        if (e.keyCode == 37 && wordNum > 0) {
        --wordNum;
        redraw(ctx);
        } else if ((e.keyCode == 39 || e.keyCode == 32) && wordNum < words.length - 1) {
        ++wordNum;
        redraw(ctx);
        } else if (e.keyCode == 48) {
        wordNum = 0;
        redraw(ctx);
        } else if (e.keyCode == 71 && e.shiftKey) {
        wordNum = words.length - 1;
        redraw(ctx);
        }
    });

});

</script>
{% endblock %}
{% block content %}
<div class="column" id="center">
<canvas id="viewer" width="450px" height="600px">
    Oh no, your browser doesn't support canvas!
</canvas>
</div>

<div class="column" id="left">
    <div id="controls">
        <ul>
            <li>Space/Right: Next word
            <li>Left: Previous word
            <li><span class="mono">0</span>: First word
            <li><span class="mono">G</span>: Last word
        </ul>
    </div>
</div>

<div class="column" id="right">
    <div id="stats">
        Word: <span id="wordNum">1</span>/{{ words|length }}
    </div>
</div>
{% endblock %}
