.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    margin-left: -200px;
    margin-top: -150px;
    font-size: 50pt;
}

.mono {
    font-family: "DejaVu Sans Mono", monospace;
}

#left {
    padding: 140px 0 0 0;
}

#right {
    font-size: 20pt;
    padding: 140px 0 0 0;
}

#controls {
    position: relative;
    left: 50%;
}

#controls>ul {
    list-style-type: none;
}
